@font-face {
    font-family: '';
    src: url('../font/static/Jost-Bold.ttf') format('truetype');
}

a
{
    color: black;
    text-decoration: dotted;
}

a:link {
}

a:visited 
{
    color: rgb(40, 40, 40) ;
}

a:focus 
{
    color: blueviolet;
}

a:hover 
{
    color: blueviolet;
}

a:active 
{
    color: blueviolet;
    text-decoration: dotted;
}