/*---------------------Colors-----------------------*/
$aquamarine: #49fcd4;

/*---------------------Colors-----------------------*/


/*---------------------Typos-----------------------*/

$ff-normal: "Source Sans Pro", Helvetica, sans-serif;
$ff-accent: "Raleway", Helvetica, sans-serif;

$fw-700: 700;
$fw-300: 300;