/*---------------------Colors-----------------------*/
$aquamarine: #49fcd4;

/*---------------------Colors-----------------------*/


/*---------------------Typos-----------------------*/

$ff-normal: "Source Sans Pro", Helvetica, sans-serif;
$ff-accent: "Raleway", Helvetica, sans-serif;

$fw-700: 700;
$fw-300: 300;
$fw-bold: 900;

$fs-normal: 1rem;
$fs-h2: 1.25rem;
$fs-h1: 1.5rem;

/*---------------------Typos-----------------------*/