@mixin flex-positionning($inline: horizontal, $block: normal, $direction: horizontal, $wrap: wrap)
{
    display: flex;
    align-items: $block;
    justify-content: $inline;
    flex-wrap: $wrap;
    flex-direction: $direction;
}

@mixin border($width: 1px, $color: black)
{
    border: $width solid $color;
}